doctype html
html(ng-app="angular-app")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content


        script(src="bower_components/angular/angular.min.js")
        script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
        script(src="bower_components/ng-lodash/build/ng-lodash.min.js")
        script(src="app.bundle.js")