<div>
    <form name="login-form">
        <label>Username *</label>
        <input name="username" id="username"/>
        <label>Password *</label>
        <input name="password" id="password"/>
    </form>
</div>



